version: '2'
services:
  sandbox:
    build: .
    image: timmyraynor/hadoop-docker:latest
    ports:
     - "8088:8088"
     - "50070:50070"
     - "4040:4040"
     - "8042:8042"
  minio:
    image: "minio/minio"
    ports: 
     - "9000:9000"
    environment:
        - MINIO_ACCESS_KEY=hello
        - MINIO_SECRET_KEY=helloworld
    command: server /exports